body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: #f2f3f5;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #1f1f1f;
  padding: 15px 40px;
  color: white;
}

.logo {
  font-weight: bold;
  font-size: 20px;
}

.menu {
  display: flex;
  gap: 20px;
  align-items: center;
  font-size: 14px;
}
