.navbar {
  background: linear-gradient(90deg, #0f2027, #203a43, #2c5364);
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 15px 40px;
  font-size: 18px;
  font-weight: bold;
}

.cart-box {
  background: white;
  color: black;
  padding: 8px 15px;
  border-radius: 30px;
}
