<div class="container">

  <!-- ALERT -->
  <div *ngIf="showAlert" class="cart-alert">
    ✅ {{ selectedProductName }} added to cart!
  </div>

  <div class="cards">

    <div class="card" *ngFor="let product of products">

      <img [src]="product.image" alt="{{product.name}}" />

      <h3>{{product.name}}</h3>

      <p>{{product.description}}</p>

      <div class="price">$ {{product.price}}</div>

      <button (click)="addToCart(product)">
        Add to Cart
      </button>

    </div>

  </div>

  <div class="cart-summary">
    <h3>🛒 Cart Items: {{cartCount}}</h3>
    <h2>Total Price: $ {{totalPrice}}</h2>
  </div>

</div>
